<!DOCTYPE html>
<html>
    <head>
        <title>Time Stamp Microservice </title>
        <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Lato:wght@700&family=Libre+Baskerville&family=Oswald:wght@700&family=Oxygen:wght@700&family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/public/style.css">
    </head>

    <body>
        <h1>Time Stamp Microservice </h1>
        <hr />
        <div class="container">
            <h3>Example Usage:</h3>
            <ul>
                <li><a href="/api/2015-12-25">[projecturl]/api/2015-12-25</a></li>
                <li><a href="/api/1451001600000">[projecturl]/api/1451001600000</a></li>
            </ul>
            <h3>Example OutPut:</h3>
            <p>
                <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
            </p>
        </div>
        <div class="footer">
          <p>
              By <a href="">Ayobami Opefeyijimi</a>
          </p>
        </div>
    </body>
</html>
